<%- include('../partials/user_header')%>

	<!-- home page slider -->
	<div class="homepage-slider">
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh & Organic</p>
								<h1>Delicious Seasonal Fruits</h1>
								<div class="hero-btns">
									<a href="/shop" class="boxed-btn">Shop now</a>
									<a href="/" class="bordered-btn">Contact Us</a>
									
									<% if(customer==false) {%>

										<a href="/userSignup" class="boxed-btn">Signup now</a>
										<% } %> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Fresh Everyday</p>
								<h1>100% Organic Collection</h1>
								<div class="hero-btns">
									<a href="/shop" class="boxed-btn">Shop now</a>
									<a href="/" class="bordered-btn">Contact Us</a>
									<% if(customer==false) {%>

										<a href="/userSignup" class="boxed-btn">Signup now</a>
										<% } %> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- single home slider -->
		<div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Mega Sale Going On!</p>
								<h1>Order on frutica</h1>
								<div class="hero-btns">
									<a href="/shop" class="boxed-btn">Shop now</a>
									<a href="/" class="bordered-btn">Contact Us</a>
									<% if(customer==false) {%>

									<a href="/userSignup" class="boxed-btn">Signup now</a>
									<% } %> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end home page slider -->
  
	<!-- shop banner -->
	<% if(bannerData.length){ %> 
	<section class="shop-banner">
		<div class="container">
			<h4 class=""><%= bannerData[0].bannerText %> <br> Order on <span class="orange-text">FRUTICA...</span></h4>
			<div class="sale-percent"><span>Use the <br> code</span><%=bannerData[0].couponName%><span>to get <br> discount</span></div>
			<a href="/shop" class="cart-btn btn-lg">Shop Now</a>
		</div>
	</section>
	<% } %> 
	<!-- end shop banner -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>“ Every time you eat a fruit for the first time that year you need to make a wish.”</p>
					</div>
				</div>
			</div>

			<div class="row">

				<% product.forEach((products)=>{ %>
					<div class="col-lg-4 col-md-6 text-center">
						<div class="single-product-item">
							<div class="product-image">
								<% if(customer) { %>
									<a href="/productview/<%=products._id%>"><img style="width:300px; height:225px"
											src="/adminimages/<%=products._id%>.jpg" alt=""></a>
									<% }else{ %>
										<img style="width:300px; height:225px" src="/adminimages/<%=products?._id%>.jpg"
											alt="">

										<% } %>

							</div>
							<p class="product-price">
								<%= products?.product_name %>
							</p>
							<p>
								<%= products?.category.category_name %>
							</p>
							<p class="product-price">
								<%= products?.price %>₹
							</p>
							<h5>Per kg</h5>
							<% if(customer) { %>
								<a onclick="addToWishlist('<%= products._id %>')"><img style="width:30px; height:30px"
										src="/adminimages/wishnew.png" alt=""></a>
								<a onclick="addToCart('<%= products._id %>')" class="cart-btn"><i
										class="fas fa-shopping-cart"></i> Add to Cart</a>


								<% }else { %>
									<a href="/userLogin" class="boxed-btn black">Buy now</a>
									<% } %>

						</div>
					</div>
					<% }) %>



			</div>
		</div>
	</div>
	<!-- end product section -->



	<!-- footer -->
	<%- include('../partials/user_footer')%>
		<!-- end footer -->



		<!-- jquery -->
		<script src="/assets/js/jquery-1.11.3.min.js"></script>
		<!-- bootstrap -->
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- count down -->
		<script src="/assets/js/jquery.countdown.js"></script>
		<!-- isotope -->
		<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
		<!-- waypoints -->
		<script src="/assets/js/waypoints.js"></script>
		<!-- owl carousel -->
		<script src="/assets/js/owl.carousel.min.js"></script>
		<!-- magnific popup -->
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- mean menu -->
		<script src="/assets/js/jquery.meanmenu.min.js"></script>
		<!-- sticker js -->
		<script src="/assets/js/sticker.js"></script>
		<!-- main js -->
		<script src="/assets/js/main.js"></script>

		<!-- ajax request -->
		<script src="/assets/js/ajaxrequests.js"></script>


		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		</body>

		</html>