<%- include('../partials/user_header')%>

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">

                        <h1>Order details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- middle section -->
    <div class="container">
        <div class=" mt-100 mb-5 d-flex align-items-center justify-content-center">
            <h3 class="text-decoration-underline">Order details</h3>
        </div>
        <table class="table table-success table-striped mb-100" id="table">
            <thead>
                <tr>
                    <th scope="col">Order date</th>
                    
                    <th scope="col">Payment method</th>
                    <th scope="col">Payment status</th>
                    <th scope="col">Order status</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Delivery date</th>
                    <th scope="col">Controlls</th>
    
    
                </tr>
            </thead>
            <tbody>
                <% orderDetails.forEach((order)=>{ %>  
                <tr>
                    <td><%= order.orderDate %></td>
                    
                    <td><%= order.paymentMethod %></td>
                    <td><%= order.paymentStatus %></td>
                    <td><%= order.orderStatus %></td>
                    <td> <%= order.totalAmount %>  ₹ </td>
                    <td><%= order.deliveryDate %></td>
                    <td>

                        
                        <!-- Button trigger modal -->
                        <% if(order.orderStatus=='placed' || order.orderStatus=='pending' || order.orderStatus=='Shipped' ){ %> 
                     <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                     data-bs-target="#exampleModal-<%=order._id%>">
                     Cancel
                   </button>
                      
                        <% } %> 

                   <!-- Modal -->
                   <div class="modal fade" id="exampleModal-<%=order._id%>" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog">
                       <div class="modal-content">
                         <div class="modal-header">
                           <h1 class="modal-title fs-5" id="exampleModalLabel">Delete confirmation</h1>
                           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                         </div>
                         <div class="modal-body">
                           Are you sure you want to cancel this order ?
                         </div>
                         <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           <a href="/cancelOrder/<%=order._id%>"><button type="button"
                               class="btn btn-danger">Cancel</button></a>
                         </div>
                       </div>
                     </div>
                   </div>


                        <a href="/orderedProduct/<%= order._id %>" class="btn btn-secondary">View</a>
                        
    
                    </td>      
                </tr>
                <% }) %> 
    
       
    
            </tbody>
        </table>
    
        </div>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    </div>
    
    <!-- end middle section -->



    <!-- footer -->
    <%- include('../partials/user_footer')%>
        <!-- end footer -->



        <!-- jquery -->
        <script src="http://localhost:5000/assets/js/jquery-1.11.3.min.js"></script>
        <!-- bootstrap -->
        <script src="http://localhost:5000/assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- count down -->
        <script src="http://localhost:5000/assets/js/jquery.countdown.js"></script>
        <!-- isotope -->
        <script src="http://localhost:5000/assets/js/jquery.isotope-3.0.6.min.js"></script>
        <!-- waypoints -->
        <script src="http://localhost:5000/assets/js/waypoints.js"></script>
        <!-- owl carousel -->
        <script src="http://localhost:5000/assets/js/owl.carousel.min.js"></script>
        <!-- magnific popup -->
        <script src="http://localhost:5000/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- mean menu -->
        <script src="http://localhost:5000/assets/js/jquery.meanmenu.min.js"></script>
        <!-- sticker js -->
        <script src="http://localhost:5000/assets/js/sticker.js"></script>
        <!-- main js -->
        <script src="http://localhost:5000/assets/js/main.js"></script>

        </body>

        </html>