<%- include('../partials/user_header')%>
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="/adminimages/<%=product._id%>.jpg" style="width: 443px; height: 443px;" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3>This is a good fruit for health</h3>
						<h2><%=product.product_name%></h2>
						<p class="single-product-pricing"> <%=product.price%>/kg</p>
						<p><%=product.description%></p>
						<div class="single-product-form">
							<form action="index.html">
								<label for="">Enter quantity in Kg</label><br>
								<input type="number" placeholder="0">
							</form>
							<a href="/cart/<%=product._id%>" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
							<p><strong>Category :</strong><%=product.category%></p>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

	<!-- more products -->
	<!-- end more products -->

	<!-- logo carousel -->
	<!-- end logo carousel -->

	<!-- footer -->
	<%- include('../partials/user_footer')%>
	<!-- end footer -->
	
	<!-- copyright -->
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="http://localhost:5000/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="http://localhost:5000/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="http://localhost:5000/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="http://localhost:5000/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="http://localhost:5000/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="http://localhost:5000/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="http://localhost:5000/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="http://localhost:5000/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="http://localhost:5000/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="http://localhost:5000/assets/js/main.js"></script>

</body>
</html>