<!-- header -->
<%- include('../partials/user_header')%>
    <!-- end header -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1>Your profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- middle -->
    <div class="container mt-5 mb-5 d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=userData.name%></p>
                </div>
              </div>
              <hr />
              
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=userData.email%></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%=userData.phonenumber%></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">........</p>
                </div>
              </div>
              <hr />
             
              <div class="row">  
                <div class="col-sm-3">
                  <p class="mb-0">Address </p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    <br />
                    <br />
                    <br />
                    <br />
                    
                  </p>
                </div>
              </div>
              <hr />
              
              <div class="row">
                <div class="col-sm-3">
                    
                        <div class="d-flex justify-content-center mt-4 ">
                            <a href="/editprofile"><button type="submit" class="btn btn-success btn-block mb-4">Edit profile</button></a>
                          </div>
                           
                    
                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Endmiddle -->

    <!-- footer -->
    <%- include('../partials/user_footer')%>
        <!-- end footer -->


        <!-- jquery -->
        <script src="http://localhost:5000/assets/js/jquery-1.11.3.min.js"></script>
        <!-- bootstrap -->
        <script src="http://localhost:5000/assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- count down -->
        <script src="http://localhost:5000/assets/js/jquery.countdown.js"></script>
        <!-- isotope -->
        <script src="http://localhost:5000/assets/js/jquery.isotope-3.0.6.min.js"></script>
        <!-- waypoints -->
        <script src="http://localhost:5000/assets/js/waypoints.js"></script>
        <!-- owl carousel -->
        <script src="http://localhost:5000/assets/js/owl.carousel.min.js"></script>
        <!-- magnific popup -->
        <script src="http://localhost:5000/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- mean menu -->
        <script src="http://localhost:5000/assets/js/jquery.meanmenu.min.js"></script>
        <!-- sticker js -->
        <script src="http://localhost:5000/assets/js/sticker.js"></script>
        <!-- main js -->
        <script src="http://localhost:5000/assets/js/main.js"></script>

        </body>

        </html>