<%- include('../partials/user_header')%>

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">

						<h1>Your wish list</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->


	<!-- wishlist -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">

									<th class="product-remove">Remove</th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price/kg</th>
									<th class="product-quantity">Description</th>

								</tr>
							</thead>
							<tbody>
                            
								<% wishlistData.forEach((product)=>{ %> 
								<tr class="table-body-row">
									<td class="product-remove"><button><i class="far fa-window-close"></i></button>

									</td>
									<td class="product-image"><img src="/adminimages/<%= product.productDetail._id %>.jpg" alt="">
									</td>

									<td class="product-name">
										<%= product.productDetail.product_name %>
									</td>
									<td class="product-price">
										<%= product.productDetail.price %>
									</td>
									<td class="product-quantity">
										<%= product.productDetail.description %>
									</td>

								</tr>
								<% }) %> 
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<img src="assets/img/latest-news/news-bg-3.jpg" alt="">
						<img class="mt-2" src="assets/img/latest-news/news-bg-2.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wishlist -->




	<!-- footer -->
	<%- include('../partials/user_footer')%>
		<!-- end footer -->

		<!-- copyright -->
		<!-- end copyright -->

		<!-- jquery -->
		<script src="http://localhost:5000/assets/js/jquery-1.11.3.min.js"></script>
		<!-- bootstrap -->
		<script src="http://localhost:5000/assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- count down -->
		<script src="http://localhost:5000/assets/js/jquery.countdown.js"></script>
		<!-- isotope -->
		<script src="http://localhost:5000/assets/js/jquery.isotope-3.0.6.min.js"></script>
		<!-- waypoints -->
		<script src="http://localhost:5000/assets/js/waypoints.js"></script>
		<!-- owl carousel -->
		<script src="http://localhost:5000/assets/js/owl.carousel.min.js"></script>
		<!-- magnific popup -->
		<script src="http://localhost:5000/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- mean menu -->
		<script src="http://localhost:5000/assets/js/jquery.meanmenu.min.js"></script>
		<!-- sticker js -->
		<script src="http://localhost:5000/assets/js/sticker.js"></script>
		<!-- main js -->
		<script src="http://localhost:5000/assets/js/main.js"></script>
		<!-- ajax request -->
		<script src="http://localhost:5000/assets/js/ajaxrequests.js"></script>

		<!-- <script>
        function tottal()
    </script> -->



		</body>

		</html>